* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: -moz-linear-gradient(left, #2d22ac 0, #944c23 100%);
        background: -webkit-linear-gradient(left, #2d22ac 0, #944c23 100%);
        background: linear-gradient(to right, #2d22ac 0, #944c23 100%);
}
.contenedor {
  padding: 100px;
}

input {
  width: 192px;
  height: 18px;
  padding: 9px;
  margin: 12px;
  color: #e49;
}

.contenedor {
  display: flex;
  align-content: center;
  justify-content: center;
}

.boton {
  margin-left: 70px;
  width: 70px;
}